#container {
	width: 1440px;
	margin: 0 auto;
}

.top-section {
	background-color: #729FFF;
}

h1 {
	font: 400 140px/170px 'Limelight', cursive;
	color: #FFAD94;
	margin: 0px;
	text-align: center;
	padding-top: 293px;
}

h4 {
	font: 400 32px/44px 'Montserrat', sans-serif;
	color: #FFFFFF;
	letter-spacing: 8px;
	margin: 0px;
	text-align: center;
	width: 377px;
	padding-left: 532px;
	padding-bottom: 107px;
}

.diagonal {
	background: linear-gradient(to left bottom, #729FFF 49.9%, #fff 50.1% );
	height: 264px;
}

h5{
	font: 700 24px/29px 'Montserrat', sans-serif;
	color: #729FFF;
	margin: 137px 0 6px 505px;
}

h2 {
	font: 700 72px/88px 'Montserrat', sans-serif;
	color: #729FFF;
	margin: 0 502px;
}

p {
	font: 700 24px/29px 'Montserrat', sans-serif;
	color: #729FFF;
	width: 461px;
	margin: 0 0 130px 502px;
	
}

.field {
	background: linear-gradient(to bottom, #92EF9F 4.5%, 
								#8FD899 4.5%, #8FD899 11.2%, 
								#92EF9F 11.2%, #92EF9F 18.2%,
								#8FD899 18.2%, #8FD899 25.2%, 
								#92EF9F 25.2%, #92EF9F 36.7%, 
								#8FD899 36.7%, #8FD899 46.7%, 
								#92EF9F 46.7%, #92EF9F 61.7%,  
								#8FD899 61.7% );
	height: 75vh;
	position: relative;
	width: 75vh;
}

.field-pitch {
	background-image: url("/images/field.svg");
	/*background-position: center;*/
	background-position: left;
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 75vh;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.field-path {
	background-image: url("/images/path-googly.svg");
	/*background-position: center;*/
	background-position: left;
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 75vh;
	position: absolute;
	width: 100%;
	z-index: 10;
}

@keyframes bowl {
  0% {
    left: 26%;
    animation-timing-function: ease-out;
  }
  32% {
    left: 20%;
    animation-timing-function: ease-in;
  }
  75% {
    left: 32%;
    animation-timing-function: ease-out;
  }
82% {
    left: 25%;
    animation-timing-function: ease-in-out;
  }  
  100% {
    left: 40%;
  }
}

@keyframes bounce {
  0% {
    top: 81%;
  }
  75% {
    top: 31%;
  }
  100% {
    top: 11%;
  }
}

@keyframes spin {
	0% {
		transform: rotate(0) scale(1);
	}
	75% {
		transform: rotate(360deg) scale(0.7);
	}
	100% {
		transform: rotate(0) scale(0.6);
	}
}

.field-ball {
	/*transform: translateX(-265%);*/
	animation-duration: 3s;
	animation-iteration-count: 3;
	animation-name: bounce, bowl, spin;
	background-color: #ff5b5b;
	background: -webkit-radial-gradient(60% 40%, circle, rgba(255,255,255,0.8), red 50%) red;
	border-radius: 50%;
	height: 5vh;
	left: 26%;
	position: absolute;
	top: 81%;
	transform: translate(-50%, -50%);
	width: 5vh;
	z-index: 10;
	
}











