#container {
	margin: 0 auto;
}

.top-section {
	background-color: #729FFF;
	background-image: linear-gradient(to left bottom, #729FFF 49%, #fff 50% );
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 10vh;
  height: 62.5vh;
  margin-bottom: 24vh;
}

h1 {
	font: 400 140px/170px 'Limelight', cursive;
	color: #FFAD94;
	margin: 0px;
	text-align: center;
	padding-top: 293px;
}

h4 {
	color: #FFFFFF;
	font: 400 32px/44px 'Montserrat', sans-serif;
	letter-spacing: 8px;
	margin: 0 auto;
	padding-bottom: 107px;
	text-align: center;
  width: 20em;
}












