---
title: Cricket
---

<div id="container">
	<div class="top-section">
		<h1>Cricket</h1>
		<h4>A VISUAL GUIDE TO DELIVERIES</h4>
	</div>
	<div class="diagonal"></div>
	<div>
		<h5>1/9</h5>
		<h2>DOOSRA</h2>
		<p>Trick throw that starts out like<br>
		a normal off break, but then<br>
		unexpectedly curves to the<br>
		leg side. Invented by Saqlain Mushtaq</p>
	</div>
	<div class="field">
		<div class="field-pitch"></div>
		<div class="field-path"></div>
		<div class="field-ball"></div>
	</div>
</div>